:root {
    --body: #1C1C1C;
    --hero-background: #6943FF;
    --hero-accent: #B295FF;
    --white: #fff;
    --content-background: #F4F4F4;
    --box-background: #fff;
    --content-heading: #5A537B;
    --content-text: #353535;

}

html[data-theme="light"] {
    --hero-background: #6943FF;
    --hero-accent: #B295FF;
    --white: #fff;
    --content-background: #F4F4F4;
    --box-background: #fff;
    --content-heading: #5A537B;
    --content-text: #353535;

}

html[data-theme="dark"] {
    --hero-background: #6943FF;
    --hero-accent: #B295FF;
    --white: #fff;
    --content-background: #1F2937;
    --box-background: #273549;
    --content-heading: #CCC1FF;
    --content-text: #fff;
}

body {
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
    background-color: var(--body);
    margin: 0;
    font-family: 'Inter', sans-serif;
    text-align: center;
    
}

button {
    margin: 2rem 0;
    padding: 9px 17px;
    border-radius: 6px;
    border: none;
    background-color: var(--button-green);
    color: var(--white);
    line-height: 1.5rem;
    cursor: pointer;
}

.theme-switch {
    font-family: FontAwesome;
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
    border-radius: 100px;
    padding: 0px;
    width: 30px;
    height: 30px;
    font-size: 1rem;
}

.hero {
    background-color: var(--hero-background);
    color: var(--white);
    font-weight: 100;
    padding: 2.5rem;
}

.content {
    background-color: var(--content-background);
    color: var(--content-text);
    padding: 2rem 1.5rem;
}

.content h2 {
    color: var(--content-heading)
}

.conversion-block {
    background-color: var(--box-background);
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
}